.header {
  background-color: #00b4d8;
  display: flex;
  grid-area: header;
  justify-content: center;
  align-items: center;
}
.header i {
  font-size: 36pt;
  padding: 15px;
  color: #f5f5f5;
  background-color: #03045e;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
}

.container-caixa {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: "header" "main";
  background-color: rgba(255, 255, 255, 0.6666666667);
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "form data" "form result";
}

.header {
  grid-area: header;
  justify-content: space-evenly;
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header ul li a {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #050505;
  padding: 10px;
}

.form-venda {
  grid-area: form;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  justify-content: space-around;
}
.form-venda fieldset {
  padding-inline: 20px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}
.form-venda fieldset:nth-of-type(4) {
  justify-content: space-evenly;
}
.form-venda .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data {
  grid-area: data;
}

.result {
  grid-area: result;
}

.hidden {
  z-index: -1;
}