@import '_colors';
@import './components/header';
@import './components/sidebar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  width: 100%;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 20vw 40vw 40vw;
  grid-template-areas:
    "header header header"
    "sidebar main main";
}

.content {
  grid-area: main;
  width: 80vw;
  height: 85vh;
  background-image: url(../images/wp4002015-2019115531.jpg);
  background-position: center;
  background-size: cover;
}
